@*@model IEnumerable<BookingHotel.Models.Purchase>*@

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="col-lg-2">
    <p>Діапазон часу замовлення</p>
    <div class="form-group">
        <input type="date" id="beginpurch" class="form-control" name="beginpurch" placeholder="Початок бронювання">
    </div>
    <div class="form-group">
        <input type="date" id="endpurch" class="form-control" name="endpurch" placeholder="Кінець бронювання">
    </div>
</div>
<div class="col-lg-2">
    <p>Час здійснення замовлення</p>
        <div class="form-group">
            <input type="date" id="timepurch" class="form-control" name="timepurch" placeholder="Час бронювання">
        </div>
</div>
<button id="find" type="submit">Знайти</button>
<div>
    @Html.Partial("PurchTable");
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/SiteJS/purchJS.js"></script>