body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.modal-content {
    background-image: url(/Pictures/modal-window.jpg);
    background-size: cover;
    
}

.botton-margin{
    margin-left: 170px;
}

.btn-login {
    margin-bottom:30px;
    border-radius: 80px;
    width: 80px;
    height: 80px;
}

.google {
    background-image: url(/Pictures/Google.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.facebook {
    background-image: url(/Pictures/Facebook.png);
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    width:70px;
    height:40px;
}
.form-group-wrapper{
    display: flex;
    justify-content:space-between;
}


label
{
    font-size:medium;
}
.order-window{
    padding: 1%;
    width:300px;
    height:300px;
    background-color: rgba(157, 152, 254,0.8);
    border-radius: 20px;
    color: white;
}

.modal-title{
    color: white;
    font-size: 20px;
    text-align: center;
}

.link{
    color: #1e041a;
}

.class-for-loginn{
    padding: 1%;
    margin-left:5%;
    width:500px;
    height:300px;
    background-color: rgba(157, 152, 254,0.8);
    border-radius: 20px;
    color: white;
}

.button {
    background-color: #222222;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100px;
    height: 50px;
    outline: none !important;
    box-shadow: none;
}

    .button:hover,
    .button:checked,
    .button:active,
    .button:focus {
        background-color: #222222;
        color: #eb5cde;
        text-decoration: underline;
    }


h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

td{
    padding: 20px;
}

table{
    font-size: 20px;
    background-color: white;
}


.myclass{
    padding-top: 30px;
    padding-left: 100px;
    background-image: url(../Pictures/68184730.jpg);
    background-size: cover;
    width: 100%;
    height: 370px;
    font-size: medium;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
