
@{
    ViewBag.Title = "Home Page";
    //Layout = null;
}

<body>
            @using (Ajax.BeginForm("SearchHotel", new AjaxOptions { UpdateTargetId = "results", LoadingElementId="loading", LoadingElementDuration=10}))
            {
               <section class="myclass">
                     <div class="order-window">
                         <div class="form-group-wrapper">
                             <div class="form-group">
                                <input type="text" id="from" class="form-control" name="name" placeholder="Назва" >
                            </div>
                        </div>
                         <div class="form-group-wrapper">
                             <div class="form-group">
                                 <input type="text" id="from" class="form-control" name="city" placeholder="Місто">
                            </div>
                         </div>
                         <div class="form-group-wrapper">
                             <div class="form-group">
                                 <input type="text" id="from" class="form-control" name="country" placeholder="Країна">
                             </div>
                         </div>
                         <div class="form-group">
                             <input type="date" id="datebegin" class="form-control" name="begin" placeholder="Початок бронювання">
                         </div>
                         <div class="form-group">
                             @*<label for="date">Кінець бронювання</label>*@
                             <input type="date" id="dateend" class="form-control" name="end" placeholder="Кінець бронювання">
                         </div>

                         <div сlass="btn btn-default">
                       <input type="submit" id="search"class="btn btn-info pull-right ButtonBuy" value="Знайти" />
                    </div>
                    </div>
              </section>
            }
            <div id="results">
                <div id="scrolList">
                    @Html.Partial("SearchHotel");
                </div>
            <div id="loading">
                <img src="@Url.Content("~/Pictures/loading.gif")" />
            </div>                                 
        </div>
  
</body>